
/* Font imports */
@import url(https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap);

html {
    scroll-behavior: smooth;
  }
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "General Sans", sans-serif;
    font-weight: normal;
}
.offcanvas-backdrop {
    display: none!important;
}
body {
    overflow: visible;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--bs-gray-700);
}
/* Navbar edits */
.navbar.navbar-expand-lg {
    background: rgb(255, 255, 255, .5);
    backdrop-filter: blur(10px);
}
.navbar-brand, ul.navbar-nav, .navbar, .casestudy-heading--title h1 {
    font-size: .99em;
    font-weight: 500;
}

p, ul, dt, dd {
    /* font-size: .9em; */
    line-height: 1.8;
    letter-spacing: -.01em;
}
ul ul {
    font-size:1em;
}
a.navbar-brand, a.nav-link {
    padding: .0!important;
}

/* @media(max-width: 991px){
    .sidebar {
        background-color: rgba(0, 0, 0, 0.315);
        backdrop-filter: blur(10px);
    }
} */

ul.home-list--methodology {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}
ul.home-list--methodology li {
    display: inline-block;
    background: white;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 6px;
}

.bg-off-white {
    background-color: rgb(245, 244, 238);
}
img {
    border-radius: .75rem;;
}
.gradient-background {
  background: linear-gradient(133deg,#efefef,#ffffff,#e3e3e3);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  position: static;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    
.navbar-toggler {
    border: none;
}
.container-lg {
    max-width: 1600px;
}
.container-xxl {
    max-width: 1920px
}


.container-lg.top {
    margin-top: 5rem;
}
.hero-spacer {
    min-height: 30vh;
}

/* Font styles */
.cormorant-400 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.home-casestudy--content h2 {
    font-weight: 600;
    font-size: 1em;
}
.heading-callout {
    /* font-family: "Cormorant", serif; */
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    /* letter-spacing: -.02em; */
}

.heading-small {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: .85em;
}

.ls-condensed {
    letter-spacing: -.02em;
}
.ls-expanded {
    letter-spacing: .2em;
}


/* Spacing Utilities */

.home-hero-header {
    margin-top: 10rem;
    margin-bottom: 6.25rem;
}
.home-casestudy--container {
    margin-top: 2rem;
    margin-bottom: 8.25rem;
}
.case-header {
    margin-top: 5rem;
    margin-bottom: 6.25rem;
}
.section-spacing {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}
.callout-half {
    max-width: 60%;
}
div.footer {
    height: 50vh;
    background: var(--bs-white);
}





@media (max-width: 576px) {
    p, ul, dt, dd {
        font-size: 1em;
    }
    .offcanvas {
        height: 100vh;
        --bs-offcanvas-width: 100%;
        /* background: #f2f2f2; */
        background: linear-gradient(28deg, rgb(247 247 247) 0%, rgb(235 235 235) 49%, rgb(255 255 255) 100%);
    }
    .home-hero {
        height: 55vh;
        margin-top: 3rem;
    }
    a.nav-link, span#copy-text-top {
        font-size: 1.25em;
    }

    .case-header {
        margin: 4rem 0;
    }
    .callout-half {
        max-width: 100%;
    }
    .home-hero-header {
        margin-top: 30vh;
        margin-bottom: .5rem;
    }
    .home-header--case {
        margin-top: 1rem;
        margin-bottom: 7.25rem;
    }
}

@media (min-width: 991px) {
    /* NAV TWEAKS */
    .nav-link {
        position: relative;
    }
    /* .navbar-brand, a.nav-link {
        font-size: .85em;
    } */
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}