



html {
    scroll-behavior: smooth;
  }
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
}
body {
    /* background-image: url(https://assets-global.website-files.com/63498a931067812a68374506/6599e1af9917def056ba4d7e_Primary%4050.png);
    background-position: 0,0;
    background-size: contain;
    background-attachment: fixed;
    overflow: visible; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bg-off-white {
    background-color: rgb(245, 244, 238);
}
.ls-condensed {
    letter-spacing: -.02em;
}
.ls-expanded {
    letter-spacing: .2em;
}
.navbar-toggler {
    border: none;
}
.container-lg {
    max-width: 1600px;
}

.container-lg.top {
    margin-top: 5rem;
}
.home-hero {min-height: 80vh;}
.callout {
    /* font-family: "Fenix", serif; */
    font-weight: 200;
    font-style: normal;
}
.case-header {
    margin-top: 13rem;
    margin-bottom: 12.25rem;
}
section.footer {
    height: 100vh;
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
}

@media (max-width: 576px) {
    .home-hero {
        height: 55vh;
        margin-top: 3rem;
    }
    .case-header {
        margin-top: 9rem;
        margin-bottom: 6.25rem;
    }
}

@media (min-width: 991px) {
    /* NAV TWEAKS */
    .nav-link {
        position: relative;
    }
    .navbar-brand, a.nav-link {font-size: 1.15em;}
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}